.img{
    width: 150px;
    height: 100px;
}

.container{
    display: inline-block;
}

.uniqe{
margin: 30px;
}

.icon{
   font-size: 20px;
   padding-top: 2px;
}

.bttn{
    background-color: rgb(208, 230, 230);
    border-color: antiquewhite;
    border-radius: 7px;
    color: red;
}